<?xml version="1.0"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- AWS CREDENTIALS -->
    <!-- Uncomment the following section and add your credentials if you are not using a deployment mechanism that manages credentials. -->
    <add key="AWSAccessKey" value=""/>
    <add key="AWSSecretKey" value=""/>

  </appSettings>  
</configuration>
